.nav{
    margin-bottom: 100px;
}
.listItems{
    display: flex;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    border-bottom: 3px solid #e4e4e4;
}

.listItems > :first-child{
    margin-right: 15px;
}

.listItems > :last-child{
    margin: 0;
}

.listItemsIcon{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
.listItemsText{
    flex-grow: 2;
}

.listItemsText > :first-child{
    background: -webkit-linear-gradient(
        rgba(124, 166, 252, 1) 25%,
        rgba(119, 235, 129, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    display: block;
    margin-bottom: 11px;
    font-weight: bold;
}

.listItemsText > :last-child{
    color: gray;
    font-weight: bold;
    font-size: 0.8rem;
    display: block;
}